fastapi
langchain
langchain-openai
uvicorn
firecrawl==2.16.0
pdfkit
google-cloud-documentai
langchain-community
pypdf
docx2txt
openpyxl
SQLAlchemy
psycopg2-binary
psycopg[binary]
pgvector

python-dotenv